<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ninjas and Dojos</title>
    {% load static %}
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'style.css' %}">
    <script src='main.js'></script>
</head>
<body>
    <div id="wrapper">
        <h1>Ninjas and Dojos</h1>
        <form action="/processdojo" method="POST" class="pinkform">
            {% csrf_token %}
            <h3>Add a Dojo:</h3>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
            <label for="city">City:</label>
            <input type="text" id="city" name="city">
            <label for="state">State:</label>
            <input type="text" id="state" name="state">
            <button>Add</button>
        </form>
        <form action="/processninja" method="POST" class="pinkform">
            {% csrf_token %}
            <h3>Add a Ninja:</h3>
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name">
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name">
            <label for="dojo">Dojo</label>
                <select name="dojo" id="dojo">
                {% for dojo in dojos %}
                    <option value="{{ dojo.id }}">{{ dojo.name }}</option>
                {% endfor %}
                </select>
            <button>Add</button>
        </form>
        <hr>
        <h1>Dojos:</h1>
            {% for dojo in dojos %}
                <h3>{{ dojo.name }} Ninjas</h3>
                <ul>
                {% for ninja in dojo.ninjas.all %}
                    <li>{{ ninja.first_name }} {{ ninja.last_name }}</li>
                {% endfor %}
                </ul>
            {% endfor %}
    </div>
    
</body>
</html>